In [1]:
a=[1,2,3]
b=a
c=[1,2,3]

print("a is b:", a is b)
print("a is c:",a is c)

print("a is not c:",a is not c)
print("b is not c:",b is not c)

a is b: True
a is c: False
a is not c: True
b is not c: True

In [3]:
my_list=[1,2,3,4,5,]

print("3 in my_list:", 3 in my_list)
print("10 in my_list",10 in my_list)

print("10 is not in my_list:",10 not in my_list)
print("3 not in my_list:", 3 not in my_list)

3 in my_list: True
10 in my_list False
10 is not in my_list: True
3 not in my_list: False

In [5]:
#Relational Operators

a=10
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [6]:
x=5
y=10
z=15

print(x<y<z)
print(x>y<z)

True
False

In [7]:
print(5>4.5)

True

In [8]:
print("apple">"banana")
print("apple"=="Apple")

False
False

In [9]:
age = 18

if age>=18:
    print("You are eligible to vote")
else:
    print("Your are not eligible")

You are eligible to vote

In [10]:
# Implicit Type Conversion

a=5
b=2.0

result = a+b
print("result:", result)

result: 7.0

In [12]:
# Explicit Type Conversion

x="10"
y=5

x_as_int=int(x)
result = x_as_int+y
print("Result:",result)

y_as_str=str(y)
print("String representation of y:",y_as_str)

Result: 15
String representation of y: 5

In [13]:
string_value = "hello"
list_from_string=list(string_value)
print("List from string:",list_from_string)

tuple_value=(1,2,3)
list_from_tuple=list(tuple_value)
print("List from tuple:",list_from_tuple)

set_value={4,5,6}
list_from_set=list(set_value)
print("List from set:",list_from_set)

List from string: ['h', 'e', 'l', 'l', 'o']
List from tuple: [1, 2, 3]
List from set: [4, 5, 6]

In [14]:
# Convert list to tuple
list_value = [1, 2, 3]
tuple_from_list = tuple(list_value)
print("Tuple from list:", tuple_from_list)

# Convert string to tuple
string_value = "Hello"
tuple_from_string = tuple(string_value)
print("Tuple from string:", tuple_from_string) # Output: ('H', 'e', '1', '1', 'o')

# Convert set to tuple
set_value = {4, 5, 6}
tuple_from_set = tuple(set_value)
print("Tuple from set:", tuple_from_set)

Tuple from list: (1, 2, 3)
Tuple from string: ('H', 'e', 'l', 'l', 'o')
Tuple from set: (4, 5, 6)

In [15]:
list_value = [1, 2, 2, 3]
set_from_list = set(list_value)
print("Set from list:", set_from_list)

# Convert string to set
string_value = "Hello"
set_from_string = set(string_value)
print("Set from string:", set_from_string)

# Convert tuple to set
tuple_value = (4, 4, 5, 6)
set_from_tuple = set(tuple_value)
print("Set from tuple:", set_from_tuple)

Set from list: {1, 2, 3}
Set from string: {'o', 'l', 'H', 'e'}
Set from tuple: {4, 5, 6}

In [16]:
print("Hello, World")

Hello, World

In [17]:
name = input("Enter your name:")
print("Hello, "+ name + "!")

Enter your name: chinmay

Hello, chinmay!

In [18]:
age = int(input("Enter your Age: "))
print("You are",age,"years old.")

Enter your Age:  34

You are 34 years old.

In [19]:
num1 = float(input("Enter the first number"))
num2 = float(input("Enter the second number"))

print("The sum of ",num1,"and",num2,"is",num1+num2)

Enter the first number 3
Enter the second number 5

The sum of  3.0 and 5.0 is 8.0

In [20]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello, {name}! You are {age} years old.")

Enter your name:  Chinmay
Enter your age:  43

Hello, Chinmay! You are 43 years old.

In [21]:
a, b, c = input("Enter three values separated by space: ").split()

print("The values you entered are:", a, b, c)

Enter three values separated by space:  4 5 6

The values you entered are: 4 5 6

In [22]:
num1 = int(input("Enter the first integer:"))
num2 = int(input("Enter the second integer:"))

print("The product of",num1,"and",num2,"is",num1*num2)

Enter the first integer: 3
Enter the second integer: 5

The product of 3 and 5 is 15

In [25]:
print("python","is","fun",sep="-")

print("Hello",end=" ")
print("world!")

python-is-fun
Hello world!

In [26]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

average = (num1 + num2 + num3) / 3

print(f"The average of {num1}, {num2}, and {num3} is {average}")

Enter the first number:  23
Enter the second number:  45
Enter the third number:  56

The average of 23.0, 45.0, and 56.0 is 41.333333333333336

In [28]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age:  34

You are eligible to vote.

In [29]:
num1, num2, num3 = map(int, input("Enter three numbers separated by spaces: ").split())

print(f"The sum of {num1}, {num2}, and {num3} is {num1+ num2 + num3}")

Enter three numbers separated by spaces:  3 4 6

The sum of 3, 4, and 6 is 13

In [30]:
text = input("Enter a sentence: ")

print(f"The length of the sentence is: {len(text)}")

print(f"Uppercase: {text.upper()}")

print(f"Reversed: {text[ ::- 1]}")

Enter a sentence:  fdsbfjhsdfjsd

The length of the sentence is: 13
Uppercase: FDSBFJHSDFJSD
Reversed: dsjfdshjfbsdf

In [32]:
n = int(input("Enter number of rows for the pattern: "))

for i in range(1, n+1):
    print('*'* i)

Enter number of rows for the pattern:  7

*
**
***
****
*****
******
*******

In [35]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))

result = num1 / num2

print(f"The result of {num1} divided by {num2} is {result:.2f}")

Enter a number:  7
Enter another number:  9

The result of 7.0 divided by 9.0 is 0.78

In [36]:
words = input("Enter some words separated by spaces: ").split()

output ='-'.join(words)

print(f"Hyphenated output: {output}")

Enter some words separated by spaces:  4 5 6

Hyphenated output: 4-5-6

In [37]:
base = int(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))

result = base ** exponent

print(f"{base} raised to the power of {exponent} is {result}")

Enter the base number:  34
Enter the exponent:  45

34 raised to the power of 45 is 825184889837725994971915471173621692744697928074424045623011467853824

In [38]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("The sum of {} and {} is {}".format(num1, num2, num1+num2))

Enter the first number:  3
Enter the second number:  4

The sum of 3 and 4 is 7

In [39]:
key = input("Enter a key (e.g., name): ")
value = input(f"Enter a value for {key}: ")

my_dict = {key: value}

print(f"Dictionary: {my_dict}")

Enter a key (e.g., name):  34
Enter a value for 34:  6

Dictionary: {'34': '6'}